interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - OGUxYTg3ZTAtNDFiNy00ZTE5LWJjODAtMGVhYjk4OGZmNDlm
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::78nfv-1761833590850-bcfb530f403b
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-bt-org-name:
      - matt-test-org
    method: GET
    uri: http://testserver/list
  response:
    body:
      string: '{"simple-math-eval":{"parameters":{},"scores":[{"name":"score_0"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
