# Any changes to deps / build configuration need additional scrutiny.
#
# For example, adding a required dependency to core or SDK will make it required
# for all users of the SDK, so we should be extremely careful about which
# dependencies we add.
py/setup.py @ankrgyl @clutchski @knjiang @ibolmo
js/package.json @ankrgyl @clutchski @knjiang @ibolmo
