[tool.black]
line-length = 119

[tool.ruff]
line-length = 119

[tool.ruff.lint]
select = [
    "I",    # isort
    "F401", # unused imports
]
[tool.ruff.lint.isort]
known-third-party = ["braintrust", "braintrust_local", "autoevals"]

[tool.pytest.ini_options]
asyncio_mode = "strict"
asyncio_default_fixture_loop_scope = "function"
addopts = "--durations=3 --durations-min=0.1"
