interactions:
- request:
    body: '{"id": "test-scorer-purpose"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.braintrust.dev/api/base_experiment/get_id
  response:
    body:
      string: "[\n  {\n    \"validation\": \"uuid\",\n    \"code\": \"invalid_string\",\n
        \   \"message\": \"Invalid uuid\",\n    \"path\": [\n      \"id\"\n    ]\n
        \ }\n] [user_email=___braintrust_anon_user___@braintrustdata.com] [timestamp=1768425457.184]
        [request_id=iad1::6csht-1768425457143-aa189dce84b1]"
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - '"1s0fpg0rx67f"'
      X-Clerk-Auth-Reason:
      - session-token-and-uat-missing
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/base_experiment/get_id
      X-Nonce:
      - MTk3NTc4MTYtZTA3Zi00ZWI1LWI0NzUtNzIxZmUzYWQ0NWM3
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::6csht-1768425457143-aa189dce84b1
    status:
      code: 400
      message: Bad Request
version: 1
