interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://www.braintrust.dev/api/apikey/login
  response:
    body:
      string: '{"org_info":[{"id":"5ba6d482-b475-4c66-8cd2-5815694764e3","name":"matt-test-org","api_url":"https://api.braintrust.dev","git_metadata":null,"is_universal_api":null,"proxy_url":"https://api.braintrust.dev","realtime_url":"wss://realtime.braintrustapi.com"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ubzjf1iqqj75"'
      X-Clerk-Auth-Message:
      - Invalid JWT form. A JWT consists of three parts separated by dots. (reason=token-invalid,
        token-carrier=header)
      X-Clerk-Auth-Reason:
      - token-invalid
      X-Clerk-Auth-Status:
      - signed-out
      X-Matched-Path:
      - /api/apikey/login
      X-Nonce:
      - MTU4OGI3YWQtYmQyOS00YzVlLTlhNDMtMDQyODFhZGYxNjVi
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::vrm7n-1768424512685-82e509afcbe9
    status:
      code: 200
      message: OK
- request:
    body: '{"project_name": "test", "project_id": null, "org_id": "5ba6d482-b475-4c66-8cd2-5815694764e3",
      "update": null, "experiment_name": "test", "repo_info": {"commit": "78db572d12b7573245b1a4dea6edefd2d7d3e939",
      "branch": "speed", "tag": null, "dirty": true, "author_name": "Matt Perpick",
      "author_email": "matt@braintrustdata.com", "commit_message": "Speed up OpenAI
      tests 9x by adding VCR cassettes\n\n- Add VCR decorators to 3 tests that were
      making real API calls:\n  - test_agents_tool_openai_nested_spans (5.97s -> <0.1s)\n  -
      test_braintrust_tracing_processor_concurrency_bug (1.40s -> 0.1s)\n  - test_braintrust_tracing_processor_current_span_detection
      (0.67s -> <0.1s)\n- Record cassettes for these tests\n- Remove unnecessary time.sleep(0.2)
      from test_openai_streaming_with_break\n- Centralize vcr_config in conftest.py
      with CI enforcement:\n  - record_mode=\"none\" in CI (fail if cassette missing)\n  -
      record_mode=\"once\" locally (record if missing)\n- Remove duplicate vcr_config
      fixtures from individual test files\n- Keep Google-specific vcr_config for HTTP
      method uppercase normalization\n\nOpenAI wrapper tests: 9s -> 1s (9x faster)\nFull
      nox session: 18s -> 10s (44% faster)\n\nCo-Authored-By: Claude Opus 4.5 <noreply@anthropic.com>",
      "commit_time": "2026-01-14T15:58:12-05:00", "git_diff": "diff --git a/.claude/settings.json
      b/.claude/settings.json\nindex cd426b62..9a367086 100644\n--- a/.claude/settings.json\n+++
      b/.claude/settings.json\n@@ -40,6 +40,8 @@\n       \"Bash(jq:*)\",\n       \"Bash(source:*)\",\n       \"Bash(cd:*)\",\n+      \"Bash(set:*)\",\n+      \"Bash(sort:*)\",\n       \"Bash(.nox/*/bin/pytest:*)\",\n       \"Bash(.nox/*/bin/python:*)\",\n       \"Bash(.nox/*/bin/pip:*)\",\ndiff
      --git a/py/src/braintrust/test_bt_json.py b/py/src/braintrust/te[...]
- request:
    body: '{"rows": [{"_is_merge": false, "context": {"caller_filename": "/Users/matt/code/braintrustdata/w_braintrust-sdk_speed/py/.nox/test_core/lib/python3.13/site-packages/_pytest/python.py",
      "caller_functionname": "pytest_pyfunc_call", "caller_lineno": 166}, "created":
      "2026-01-14T21:01:52.551602+00:00", "experiment_id": "552e3c85-e7ee-4e94-8162-d208d07b20fe",
      "id": "6e0a5754-64f1-43cd-8c03-22e64771d020", "metrics": {"start": 1768424512.551599},
      "root_span_id": "84748fb4-1f9e-49f2-bf94-6ebd3b604bb8", "span_attributes": {"exec_counter":
      1, "name": "root", "type": "eval"}, "span_id": "84748fb4-1f9e-49f2-bf94-6ebd3b604bb8",
      "span_parents": null}], "api_version": 2}'
    headers:
    method: POST
    uri: https://api.braintrust.dev/logs3
  response:
    body:
      string: '{"ids":["6e0a5754-64f1-43cd-8c03-22e64771d020"],"xact_id":"1000196487721888886"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"50-PMOPlqpTyDNUCSSoCG7IiztERIc"
      x-amz-apigw-id:
      - XMWaSG2eoAMEsPQ=
      x-amzn-RequestId:
      - b30af5ca-e21b-4458-afce-45bdddf10649
      x-bt-internal-trace-id:
      - 6968044100000000495e5bbd4e29306b
    status:
      code: 200
      message: OK
version: 1
