# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# persistence
.chats
.streams

# trim the create-next-app next-openai-app. if an example exists, we've modified it from the original to have braintrust tracing enabled
app/*
app/api/*
agent/*
tool/*
components/*
components/tool/*
util/*
lib/utils.ts

!app/api
!app/stream-object
!app/test-openai-code-interpreter
!app/use-chat-streaming-tool-calls
!app/api/chat
!app/api/chat-openai-code-interpreter
!app/api/use-chat-streaming-tool-calls
!components/chat-input.tsx
!components/tool
!components/tool/openai-code-interpreter-view.tsx
