# Also include build dependencies
black
datamodel-code-generator>=0.53.0
flake8
flake8-isort
isort==5.12.0
nox
pre-commit
pydoc-markdown
pylint
pytest
pytest-asyncio
pytest-forked
pytest-vcr

-r requirements-build.txt
