name: js

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  actions: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [20, 22]

    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY}}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY}}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY}}

    outputs:
      artifact-name: ${{ steps.artifact.outputs.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
      - name: "verify ci"
        shell: bash
        run: make js-verify-ci

      # Upload build artifacts for Node 22 on Ubuntu for testing
      - name: Determine artifact name
        if: matrix.node-version == '22' && matrix.os == 'ubuntu-latest'
        id: artifact
        env:
          ARTIFACT_NAME: javascript-sdk-dev-${{ github.run_id }}-${{ matrix.node-version }}-dist
        run: |
          echo "Artifact: $ARTIFACT_NAME"
          echo "name=$ARTIFACT_NAME" >> "$GITHUB_OUTPUT"
      - name: Prepare artifact
        if: matrix.node-version == '22' && matrix.os == 'ubuntu-latest'
        id: prepare_artifact
        working-directory: js
        run: |
          PACKED_TARBALL=$(npm pack --pack-destination dist)
          echo "packed_tarball=$PACKED_TARBALL" >> "$GITHUB_OUTPUT"

      - name: Upload build artifacts
        if: matrix.node-version == '22' && matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.name }}
          path: js/dist/${{ steps.prepare_artifact.outputs.packed_tarball }}
          retention-days: 1

  integration-tests:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        integration:
          - otel
          - span

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.workflow_run.repository.full_name }}
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Backup original integration package manifests
        working-directory: js/integrations
        run: |
          cp otel/package.json otel/package.json.bak
          cp span/package.json span/package.json.bak

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: js/artifacts
          run-id: ${{ github.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Temporarily point braintrust dependency to local build
        working-directory: js/integrations
        run: |
          ls ../artifacts
          TAR_FILE=$(ls -t ../artifacts/braintrust-*.tgz | head -n1)
          jq --arg path "file:../../artifacts/$TAR_FILE" '.dependencies.braintrust = $path' otel/package.json > otel/package.temp.json
          mv otel/package.temp.json otel/package.json
          jq --arg path "file:../../artifacts/$TAR_FILE" '.dependencies.braintrust = $path' span/package.json > span/package.temp.json
          mv span/package.temp.json span/package.json
          cat otel/package.json
          cat span/package.json

      - name: Run CJS check for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        run: ../../../scripts/verify_cjs.sh

      - name: Run integration test (CJS) for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm install
          npm list braintrust
          npm test

      - name: Enable ESM for integrations tests
        working-directory: js/integrations
        run: |
          jq '. + {"type":"module"}' otel/package.json > otel/package.temp.json
          mv otel/package.temp.json otel/package.json
          jq '. + {"type":"module"}' span/package.json > span/package.temp.json
          mv span/package.temp.json span/package.json

      - name: Run ESM check for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        run: ../../../scripts/verify_esm.sh

      - name: Run integration test (ESM) for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm install
          npm test

      - name: Restore original package.json files
        if: always()
        working-directory: js/integrations
        run: |
          mv otel/package.json.bak otel/package.json
          mv span/package.json.bak span/package.json