name: js

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  actions: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [20, 22]

    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY}}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY}}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY}}

    outputs:
      artifact-name: ${{ steps.artifact.outputs.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
      - name: "verify ci"
        shell: bash
        run: make js-verify-ci

      - name: Determine artifact name
        id: artifact
        env:
          ARTIFACT_NAME: javascript-sdk-dev-${{ github.run_id }}
        run: |
          echo "Artifact: $ARTIFACT_NAME"
          echo "name=$ARTIFACT_NAME" >> "$GITHUB_OUTPUT"
      - name: Prepare artifact
        id: prepare_artifact
        working-directory: js
        shell: bash
        run: |
          PACKED_TARBALL=$(npm pack --pack-destination dist)
          echo "packed_tarball=$PACKED_TARBALL" >> "$GITHUB_OUTPUT"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.name }}-${{ matrix.node-version }}-dist
          path: js/dist/${{ steps.prepare_artifact.outputs.packed_tarball }}
          retention-days: 1

  integration-tests:
    needs: build
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        integration: [otel, span]
        os: [ubuntu-latest, windows-latest]
        node-version: [20, 22]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.workflow_run.repository.full_name }}
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Backup original integration package manifests
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm ci
          npm run backup

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}-${{ matrix.node-version }}-dist
          path: js/artifacts
          run-id: ${{ github.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Temporarily point braintrust dependency to local build ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm run install-build

      - name: Run integration test (CJS) for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        env:
          BRAINTRUST_API_KEY: ${{ matrix.integration == 'otel' && secrets.BRAINTRUST_API_KEY || '' }}
          BRAINTRUST_OTEL_COMPAT: ${{ matrix.integration == 'otel' && secrets.BRAINTRUST_API_KEY || '' }}
        run: |
          npm ci
          npm start

      - name: Enable ESM for integrations tests
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm run enable-esm

      - name: Run integration test (ESM) for ${{ matrix.integration }}
        working-directory: js/integrations/${{ matrix.integration }}
        env:
          BRAINTRUST_API_KEY: ${{ matrix.integration == 'otel' && secrets.BRAINTRUST_API_KEY || '' }}
          BRAINTRUST_OTEL_COMPAT: ${{ matrix.integration == 'otel' && secrets.BRAINTRUST_API_KEY || '' }}
        run: |
          npm ci
          npm start

      - name: Restore original package.json files
        if: always()
        working-directory: js/integrations/${{ matrix.integration }}
        run: |
          npm run restore
