name: js

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  actions: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [20, 22]

    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY}}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY}}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY}}

    outputs:
      artifact-name: ${{ steps.artifact.outputs.name }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"
      - uses: pnpm/action-setup@v4
      - name: "verify ci"
        shell: bash
        run: make js-verify-ci

      # Upload build artifacts for Node 22 on Ubuntu for testing
      - name: Determine artifact name
        if: matrix.node-version == '22' && matrix.os == 'ubuntu-latest'
        id: artifact
        env:
          ARTIFACT_NAME: javascript-sdk-dev-${{ github.run_id }}-${{ matrix.node-version }}-dist
        run: |
          echo "Artifact: $ARTIFACT_NAME"
          echo "name=$ARTIFACT_NAME" >> "$GITHUB_OUTPUT"
      - name: Upload build artifacts
        if: matrix.node-version == '22' && matrix.os == 'ubuntu-latest'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.name }}
          path: js/dist/
          retention-days: 1

  integration-tests:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.workflow_run.repository.full_name }}
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Backup original NodeSDK package.json
        working-directory: js/examples/otel
        run: cp package.json package.json.bak

      - name: Download javascript dist artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact-name }}
          path: js/artifacts
          run-id: ${{ github.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Temporarily point braintrust dependency to local build
        working-directory: js/examples/otel
        run: |
          # Modify package.json to point 'braintrust' to local artifact
          jq --arg path "file:../../artifacts/${{ needs.build.outputs.artifact-name }}" '.dependencies.braintrust = $path' package.json > package.temp.json
          mv package.temp.json package.json
          cat package.json

      - name: Install example dependencies
        working-directory: js/examples/otel
        run: npm install --force

      - name: Run CJS check
        working-directory: scripts
        run: ./verify_cjs.sh

      - name: Run NodeSDK as CJS example
        working-directory: js/examples/otel
        env:
          BRAINTRUST_OTEL_COMPAT: false
          BRAINTRUST_API_KEY: ${{ secrets.BRAINTRUST_API_KEY }}
        run: |
          npm start

      - name: Enable ESM for this run
        working-directory: js/examples/otel
        run: |
          jq '. + {"type":"module"}' package.json > package.temp.json
          mv package.temp.json package.json
          cat package.json

      - name: Run ESM check
        working-directory: scripts
        run: ./verify_esm.sh

      - name: Run NodeSDK as ESM example
        working-directory: js/examples/otel
        env:
          BRAINTRUST_OTEL_COMPAT: false
          BRAINTRUST_API_KEY: ${{ secrets.BRAINTRUST_API_KEY }}
        run: |
          npm start

      - name: Restore original package.json
        if: always()
        working-directory: js/examples/otel
        run: mv package.json.bak package.json
